/* This maintains the 16:9 aspect ratio */
.canvasWrapper {
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100vw; 
  height: 56.25vw; /* 100 * 9/16 */
  max-height: 100vh;
  max-width: 177.78vh; /* 100 * 16/9 */
}

canvas {
  width: 100%;
  height: 100%;
  background: #0003;
}

/* Wrapper for the draggable divs */
.draggableWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* The div that tracks each image */
.draggable {
  position: absolute;
  box-sizing: border-box;
  cursor: grab;
}

.draggable.active {
  border: 2px solid green;
  z-index: 2;
  cursor: grabbing;
}